/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 5em;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */
#sitename li{

   text-align: right;
   text-decoration-color: white;

}


#navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}


#navbar ul li a{
    margin-top: 1.2em;
    margin-left: 6.2em;
    color: white;
    display: block;
    padding: 3px 5.5em;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../trial.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.7;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services a{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 4px solid rgb(0, 0, 0);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 15px;
    background: rgb(165 165 165);
    margin-bottom: 20px;
    box-shadow: -30px 30px 15px rgba(0,0,0,0.3);

}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/contact1.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

#hm{
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    padding: 0 15em;

}

.div ul {
    margin: 0;
}

.div li {
    display: inline;
}

.div a {
    font-size: 1.7em;
    display: inline-block;
    padding: 12px;
    color: black;
    text-decoration: none;
    background-color: white;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: black;
    background-color: white;
    border: solid black;
    border-radius: 0.5em;
    font-weight: bold;
}

.btn_secondary{
    padding: 6px 20px;
    background-color: rgba(58, 66, 59, 0.466);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 15px;
    cursor:pointer;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

/*.main-nav li {
    padding: 0 5%;
}*/

.side-btn {
    margin: 0 31em;
    align-content: center;
    text-align: center;
    font-size: 1em;
}

.main-div {
    text-align: center;
    font-size: 2em;
    /*ont-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)*/
}

.main-div li {
    padding: 0 5%;
}

.content-section {
    font-size: 1.5em;
    margin-left: 20em;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons{
    font-size: 4.7em;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    align-content: center;
}

.container {
    max-width: 900px;
    /* margin: ; */
    padding: 0 1.5em;
    margin-left: 15em;
    /* margin-right: 0; */
}

/* Utility Classes */
.h-primary{
    font-family:Roboto Condensed;
    font-size: 4.5rem;
    margin-top: 0em;
    padding-top: 1em;
    /*padding: 12px;*/
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

/*.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}*/

.center{
    text-align: center;
}

.main-footer {
    background-color: black;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0 0em;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.main-header {
    padding-bottom: 30px;
}

.heading {
    text-align: center;
    margin: 2em;
    font-size: 7em;
    font-family: Roboto Condensed;
    font-weight: normal;
    color: black;
}

.map {    
    margin: 0 28em;
    display: inline-block;
    padding: 12px;

}

.shop-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.shop-row:last-child{
    border:none;
}

.content-section {
    margin: 2em 4em;
}

.content-header {
    font-family: Roboto Condensed;
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

/*Towing*/

#towing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/Images/towing_bg.jpeg') no-repeat center center/cover;
}

#towing{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 867px;
    justify-content: center;
    align-items: center;
}


#towing h2{
    color:rgb(87, 67, 38);
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 4.5rem;
}

#towing p{
    color:rgb(87, 67, 38);
    text-align: center;
    font-size: 2rem;
    font-family: Roboto Condensed;
}

#towing_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#towing_box input, 
#towing_box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}  input, 
#towing_box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    text-align: center;
} 


#towing_box form{
    width: 600%;
    
}

#towing_box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
 
}

/*towing_bookingpg*/

#towing_bookingpg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#towing_bookingpg h2{
    color:black;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 2.0rem;
}

/*Services*/
#mechanics::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/Images/mechanic_bg.jpg') no-repeat center center/cover;
}

#mechanics{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 867px;
    justify-content: center;
    align-items: center;
}


#mechanics h2{
    color:rgba(87, 66, 10, 0.616);
    text-align: center;
    font-family:Roboto Condensed;
    font-size: 5rem;
}

#mechanics p{
    color:rgb(87, 67, 38);
    text-align: center;
    font-size: 2.1rem;
    font-family: Roboto Condensed;
}

#mechanics_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#mechanics_box input, 
#mechanics_box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}  input, 
#mechanics_box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    text-align: center;
} 


#mechanics_box form{
    width: 600%;
    
}

#mechanics_box label{
    font-size: 1.3rem;
    font-family: Roboto Condensed;
 
}


